<mat-card *ngIf='!presenting'>
    <mat-card-title class='centered'>
        <div class='centered word'>
            {{username}}
        </div>
        From Team {{team}} Is Up
    </mat-card-title>
    <h3 class='centered'>
        {{time}}
    </h3>
</mat-card>

<mat-card *ngIf='presenting'>
    <mat-card-title class='centered'>
        Your Word Is
        <div class='centered word'>
            {{word}}
        </div>
    </mat-card-title>
    <h3 class='centered'>
        {{time}}
    </h3>
    <div class='splitCard'>
        <button mat-raised-button (click)='timerButtonHit()' class='secondary' [disabled]='timerButtonIsDisabled'>{{timerButtonLabel}}</button>
        <button mat-raised-button (click)='startNextRound()' class='secondary' [disabled]='startNextRoundButtonIsDisabled'>Start Next Round</button>
    </div>
</mat-card>