.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    font-size: small;
}

.footerPadding {
    flex: 1
}

.contentBox {
    max-width: 600px;
    margin: auto;
    max-height: 90%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.contentBox::-webkit-scrollbar {
    display: none;
  }